<% budget = 500 %>
<h1><%= "You've amassed a final amount of $#{budget}" %></h1>
Now that you've honed your blackjack skills, there's nothing left to do except go to Vegas.
<%= link_to "Start over", root_path %>
