<!-- GET method will expose query information in the URL
     POST method will not.
     form_tag("/bet") will generate HTML with action="/bet" and method=POST
     routes.rb routes a POST of "/bet" to "players#bet"
     The end result is that clicking on the submit button will lead to the
     players#bet action and render the bet view template -->
<h4>What's your name?</h4>
<%= form_tag("/new_game") do %>
  <%= text_field_tag(:name) %><br/>
  <%= submit_tag("Submit") %>
<% end %>
