<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= form_tag "/new_game", method: :post do %>
      <%= submit_tag("Start Over", class: 'so_button') %>
    <% end %>
  </div>
</header>
